.filter_heading {
    color: var(--st-secondary-disabled);
}

.filter_nav {
    z-index: 11;
    margin-top: 4rem;
    background-color: rgba(0,0,0,.7);
    padding: 1rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 17rem;
    overflow-y: auto;
    height: 90vh;
    position: fixed;
}

.filter_nav_top {
    display: flex;
    justify-content: space-between;
}

.datalist {
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    color: var(--st-white);
    width: 100%;
}

.house_links {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
}

.image-link {
    width: 2rem;
    height: 4rem;
}

.check_link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.checkbox_size {
    width: 1rem;
    height: 1rem;
}

.house_avatar:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 784px) {
    .filter_nav {
        margin-top: 7rem;
    }
}

@media only screen and (max-width: 520px) {
    .filter_nav {
        margin-top: 10.5rem;
    }
}

